<ion-header [translucent]="true">
  <ion-toolbar color = "primary">
    <ion-title class="ion-text-center">
      Home page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">aaa</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>This is my very first line written in Ionic! :D</div>

  <div id = "container">
    <p>Click the following button to <br>
      go to my very first page!</p>
    <ion-button (click) = "startApp()">Click me!</ion-button>
  </div>

</ion-content>
